<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
      integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script type="text/javascript">
      $(document).ready(function () {
        var socket = io("http://localhost:5000");
        socket.on("connect", () => {
          socket.send("User has connected!");
          console.log("socket connected");
        });
        socket.on('message', function (message) {
          console.log(message);
          $("#message").append(message);
        });
        $("#submit").on("click", function () {
          console.log("message", $("#inputmessage").val());
          socket.send($("#inputmessage").val());
          $("#inputmessage").val("");
        });
      });
    </script>
    <div id="message"></div>
    <input type="text" id="inputmessage" placeholder="message" />
    <button id="submit">send</button>
  </body>
</html>
